:root {
  /* color */
  --color-background-primary: #5c415a;
  --color-background-secondary: #1368ce;
  --color-box-primary: #ede8d0;
  --color-text-white: #f0f0f0;
  --color-text-black: #000000;

  /* font */
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background-color: var(--color-background-primary);
  color: var(--color-text);
}
